@use '../misc/breakpoints';

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  order: -1;

  text-align: center;
  user-select: none;

  @include breakpoints.media-breakpoint-up(sm) {
    order: unset;
  }
}
