.filter {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: var(--gap);
}

.filter__title {
  display: block;
  flex-grow: 1;
}

.filter__title-text {
  display: inline-block;
  margin-bottom: var(--gap);
}

.filter .btn {
  flex-shrink: 0;
  width: 40px;
  min-width: unset;
  height: 40px;
  padding: 0;
}
