.logo {
  padding: 0;
  border: none;
  background: none;
  color: var(--btn-text-color);

  font-size: 40px;

  cursor: pointer;
  user-select: none;

  &--fallback span {
    display: inline-block;

    transform: rotate(180deg);
  }
}
