@use '../misc/breakpoints';

.pagination {
  display: flex;
  flex-direction: column;
  margin-inline: var(--gap);
  gap: var(--gap);

  user-select: none;

  .select-wrapper {
    min-width: 70px;
  }

  @include breakpoints.media-breakpoint-up(sm) {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    justify-content: space-between;
  }
}

.pagination__per-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);

  @include breakpoints.media-breakpoint-up(sm) {
    justify-content: start;
  }
}

.pagination__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);

  @include breakpoints.media-breakpoint-up(sm) {
    justify-content: end;
  }
}
