@use '../misc/breakpoints';

.pagination {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin-inline: var(--gap);

  user-select: none;

  .select-wrapper {
    min-width: 70px;
  }

  @include breakpoints.media-breakpoint-up(sm) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.pagination__per-page {
  display: flex;
  gap: var(--gap);
  align-items: center;
  justify-content: center;
}

.pagination__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}
