@use "mixins";

@include mixins.focus;

body {
  min-width: 320px;
  margin: 0;

  background-color: var(--bg);
  color: var(--color);
  font-size: 1rem;
  line-height: 1;

  font-family: "JetBrains Mono", Menlo, Consolas, monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  line-height: inherit;
  font-family: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: var(--gap);
}

.container {
  width: 100%;
  max-width: 960px;
  margin-inline: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap);
}
