@use '../misc/mixins';

body {
  margin: 0;

  font-family: 'JetBrains Mono', Menlo, Consolas, monospace;
  font-size: 1rem;
  line-height: 1;
  color: var(--color);

  background-color: var(--bg);
}

*,
*::after,
*::before {
  font-family: inherit;
  line-height: inherit;

  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin-inline: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap);
}

a {
  color: var(--link-color);

  @include mixins.hover() {
    text-decoration: none;
  }
}
