@use 'mixins';

@include mixins.focus;

body {
  min-width: 320px;
  margin: 0;

  font-family: 'JetBrains Mono', Menlo, Consolas, monospace;
  font-size: 1rem;
  line-height: 1;
  color: var(--color);

  background-color: var(--bg);
}

*,
*::after,
*::before {
  font-family: inherit;
  line-height: inherit;

  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: var(--gap);
}

.container {
  max-width: 960px;
  width: 100%;
  margin-inline: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap);
}
