@use "contrast-color";

@mixin hover() {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin focus-styles($revert: false) {
  outline: none;

  @if $revert {
    box-shadow: none;
  } @else {
    box-shadow:
      0 0 0 var(--border-width) var(--focus-inner-color),
      0 0 0 calc(2 * var(--border-width)) var(--focus-outer-color);
  }
}

@mixin focus() {
  :focus {
    @include focus-styles();
  }

  :focus:not(:focus-visible) {
    @include focus-styles($revert: true);
  }

  :focus-visible {
    @include focus-styles();
  }
}

@mixin visually-hidden() {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;

  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden !important;

  color: rgba(255, 255, 255, 0) !important;
  pointer-events: none !important;
}
